// Vendor styles
@import "./node_modules/tether/dist/css/tether";
@import "./node_modules/jquery-ui/dist/themes/base/jquery-ui";

// Bootstrap
$body-bg: #252830;
$text-color: #cfd2da;
$headings-font-weight: 300;
$headings-color: #fff;
$font-family-base: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif "";
$link-color: #1ca8dd;
$link-hover-color: #137499;
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Nibiru
@import "../../css/v3/application";
@import "../../css/v3/nibiru-debug";
